<html>
<head>
<meta name="viewport" content="width=device-width" />
<title>WIFI Controlled LED</title>
</head>
       <body>
       <center><b><font size = '20'>LED controller RaspBerry</b>    

	
	  
         <form method="get" action='on'>                 
                 <input type="submit"  style="float:left;" name="ON" value="ON">

	</form>
	<form method="get" action='off'> 
                 <input type="submit"  style="float:left;" name="OFF" value="OFF">

	</form>
	<form method="get" action='blnk'> 
                 <input type="submit" style="float:left;" value="BLINK" name="blink">

	</form>
	<form method="get" action='stp'> 
                 <input type="submit" style="float:left;" value="STOP" name="stop">

	</form>
	
      
   </center>
   </font>
   </body>
 </html>
